[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "external/rlimgui"]
	path = external/rlimgui
	url = https://github.com/raylib-extras/rlImGui.git
[submodule "external/box2d"]
	path = external/box2d
	url = https://github.com/erincatto/box2d
